
header{
	margin-bottom: 10px;
}

.header-image img,
.webinar-topic-image img{
	display: block;
	width: 100%;
}

.webinar-topic{
	margin-bottom: 10px;
}

#poster-webinar img{
	width: 100%;
}

#poster-webinar{
	margin-bottom: 15px;
}

footer{
	background: var(--info);
	color: white;
}