.img-main-icon img {
    width: 150px;
    height: 90px;
    display: flex;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-link:hover,
.nav-link:focus {
    text-decoration: none;
}